@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities  { 
  section{
    margin-block:5em;
  }
  @media (min-width: 500px) {
    .input-change{
      flex-grow:1;
      max-width: 100%;
    }
  }
}